body{
    margin:0;
}
#estruturaGrid{
    display: grid;
    grid-template-areas: 'header header header header'
                         'nav nav nav nav'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 200px 50px 500px 100px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}
header{
    grid-area: header;
    background-color: pink;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header img{
    width: 15%;
    align-self: flex-start;
}
nav{
    grid-area: nav;
    background-color:black
}
section{
    grid-area: section;
    background-color: rgb(252, 125, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section p{
    color:white;
}
section img{
    width:300px;
    height:auto;
}
aside{
    grid-area:aside;
    background-color:rgb(77, 204, 247);
}
footer{
    grid-area: footer;
    background-color:rgb(69, 248, 123)
}